views/posts/post_list.html
<div class="slide-menu__list"><ul class="list"><li class="list__item list__item_add-new"><a class="item__link" href="#addPost" rel="modal:open" (click)="showAddPost = true;"><span class="item__icon"><img class="list__image" src="/svg/Icon_new_post_grey.svg" alt="Create New Board"/></span><span class="item__text">Create New</span></a></li><li class="list__item" *ngFor="let post of posts"><a class="item__link" href=""><span class="item__icon"></span><span class="item__text">{{post.title}}</span></a><a class="item__delete" (click)="deletePost(post)"><img class="delete__image" src="/svg/delete-button.svg"/></a></li></ul></div><div class="modal modal_add-post" id="addPost" *ngIf="showAddPost"><div class="modal__logo"><div class="logo"></div><img class="logo__svg" src="/svg/logotype__neon_resized.svg" alt="Moodbrd Logotype"/></div><div class="modal__title"><h2 class="title">Select type</h2></div><div class="modal__type-select"><div class="type-select type-select_board"><div class="type-select__image"><img class="board__image" src="/images/boards.png"/></div><div class="type-select__button"><button class="board__button" id="createBoard" (click)="createBoard( this.user )">Create board</button></div></div><div class="type-select type-select_post"><div class="type-select__image"><img class="post__image" src="/images/posts.png"/></div><div class="type-select__button"><button class="post__button" id="createPost" (click)="createPost( this.user )">Create post</button></div></div></div></div>

views/posts/post_list.pug
.slide-menu__list
  ul.list
    li.list__item.list__item_add-new
      a.item__link(
        href='#addPost',
        rel='modal:open',
        '(click)'='showAddPost = true;'
        )
        span.item__icon
          img.list__image(
            src='/svg/Icon_new_post_grey.svg'
            alt='Create New Board'
            )
        span.item__text Create New
    li.list__item(
      '*ngFor'='let post of posts'
    )
      a.item__link(href='')
        span.item__icon
        span.item__text {{post.title}}
      a.item__delete('(click)'='deletePost(post)')
        img.delete__image(
          src='/svg/delete-button.svg'
          )

include ./add-post_modal.pug
